<div class="task_container">
	<div class="task_name_container">
		<% if current_user.lists.any? %>
			<% current_user.lists.each do |list| %>
				<% legit = false %>
				<% list.tasks.each do |task| %>
					<% if task.important && !task.status %>
						<% legit = true %>
					<% end %>
				<% end %>
				<% if legit == true %>
					<% if list.tasks.any? %>
						<div class="tasks">
							<ul>
								<% num_tasks_left = list.tasks.find_all_by_status(false) %>
								<h3 id="important-list-name"><%= link_to "#{list.category} (#{num_tasks_left.count})", list_path(list) %></h3>
								<% list.tasks.each do |task| %>
									<% if task.important && !task.status %>
										<%= render 'static_pages/important_task_options', task: task %>
										<li>
										 	<span class="content">
										 		<%= task.content %>	
										 	</span>
										  	<span class="timestamp">
										   		Posted <%= time_ago_in_words(task.created_at) %> ago.
										  	</span>
										</li>
									<% end %>
								<% end %>
							</ul>
						</div>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</div><!-- end of task_name_container -->
</div>