<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "What-ToDo?", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Sign in", '#' %></li>
				</ul>
			</nav>
		</div><!-- end of container -->
	</div><!-- end of navbar-inner -->
</header><!-- end of navbar -->